<!DOCTYPE html>
<html>
<head>
    <title>Manage Shelters</title>
</head>
<body>
    <h1>Shelter Management</h1>
    <a href="/shelters/manage?action=new">Add New Shelter</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Website</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for shelter in shelters %}
            <tr>
                <td>{{ shelter['shelter_id'] }}</td>
                <td>{{ shelter['shelter_name'] }}</td>
                <td>{{ shelter['address'] }}</td>
                <td>{{ shelter['contact'] }}</td>
                <td>{{ shelter['website_url'] }}</td>
                <td>
                    <a href="/shelters/manage?action=edit&pkval={{ shelter['shelter_id'] }}">Edit</a>
                    <a href="/shelters/manage?action=delete&pkval={{ shelter['shelter_id'] }}" onclick="return confirm('Are you sure you want to delete this shelter?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
