<h1>Manage Users</h1>
<a href="/users/manage?action=new">Add New User</a>
<table>
    <tr>
        <th>Email</th>
        <th>User Type</th>
        <th>Zipcode</th>
        <th>Actions</th>
    </tr>
    {% for user in objs.data %}
    <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.user_type }}</td>
        <td>{{ user.zipcode }}</td>
        <td>
            <a href="/users/manage?action=update&pkval={{ user.id }}">Edit</a> |
            <a href="/users/manage?action=delete&pkval={{ user.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
